

table {

    width: 98%;
     border-collapse: collapse;
    background-color: coral;
}

table, th, td{
    
   border: 2px solid black;
   
   
}



body{
    background-color: #D2B48C;
}

th{
    height: 40px;
    text-align: left;
    background-color: #FFFF99;
    
    
}

tr:nth-child(even) {background-color: #F2F2F2;}
tr:hover {background-color: #CCCCCC}

table, th{
    padding: 10px;
    
}
td{
    vertical-align: bottom;
   border-collapse: collapse;
    color: black;
    
}

h1{ color:#F08080;}

input[readonly] {background-color:gray;}
input{
    border: 2px solid coral;
    border-radius: 4px;
}

label{
    color: white;
    
}